/vendor

/.idea
*.bak
*~
*.swp

/.phpunit.result.cache
/phpunit.xml
/.pre-commit-config.yaml
/

/.phpunit.cache/

/NOTES.md
# Do not add trailing slash for .roo entry, it will not work for symlinked folders
.roo
.roomodes
